<footer class="page-footer purple darken-4">
    <div class="footer-copyright">
    <div class="container">
    © 2017 Copyright Free Code Camp
    <a class="grey-text text-lighten-4 right" href="#">ankorGH</a>
    </div>
</div>